/* Common */
body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

.container {
    max-width: 1200px;
    /*
    margin:0 auto;
    padding:0 30px; */
}

.link-button {
    border: 4px solid rgb(199, 76, 117);
    border-radius: 6px;
    text-decoration: none;
    background-color: rgb(199, 76, 117);
    padding: 5px;
    margin-top: 50px;
    font-size: 20px;
    color: white;
}

.link-button:hover {
    padding: 4px 10px;
}

/* Header starts */
/* Nav css */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navigation {
    display: flex;
    gap: 40px;
}

#navigation-li {
    display: flex;
}

#navigation li {
    list-style: none;

    margin-right: 10px;
}

#navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    /* padding: 15px 10px; */
}

.search-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Using media queries for navbar*/
@media (max-width: 640px) {
    .header-container {
        text-align: center;
    }

    .header-container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.8em 0;
    }

    #navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-cart {
        visibility: hidden;
    }
}


/* Banner section starts */
.banner h1 {
    text-align: left;
    font-size: 50px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.banner-left p {
    display: block;
    padding: 0 10px 0 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;

}

.banner-left h1 {
    text-align: center;
}

.banner-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner-button {
    display: block;
    padding: 0 10px 0 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
}

/* Using media queries for banner*/
@media (max-width: 640px) {
    .banner-container {
        display: block;
        text-align: center;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* Logo Section starts */
.logo-section {
    margin-top: 95px;
    margin-bottom: 80px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

.logo-placing {
    margin-right: 40px;
    margin-left: 40px;
}

/* Using media queries for logo section*/
@media (max-width: 640px) {
    .logo-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

/* Popular section starts */
#product-title {
    text-align: center;
}

.product-para {
    padding-right: 60px;
    margin-left: 5px;
}

.popular {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px;
}

.card {
    width: 300px;
    margin:0 auto;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 2px rgb(199, 76, 117);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.card h3{
    margin-left: 5px;
}

.card h5{
    margin-left: 5px;
}

.card img {
    height: auto;
    width: auto;
}

.product-rating {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.product-rating span{
    gap:5px;
}

.fa-star.filled {
    color: rgb(199, 76, 117);
}

.fa-star.emty {
    border-color: black;
}


/* Using media queries for popular section*/
/* I-Phone */
/* @media 
  (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .popular {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
} */

/* mobile */

@media (max-width: 640px) {
    .popular {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}

/* tablet */

@media 
  (min-width: 641px) 
  and (max-width: 1280px) {
    .popular {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}

/* laptop */
/* @media 
  (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .popular {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
} */


/* Contact us form */
.contact {
    display: grid;
    grid-template-columns: 1fr;
}

#contact-title {
    text-align: center;
    font-size: 40px;
}

#title-Tag-Line {
    font-size: 20px;
}

.form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: relative;
    border-top: 5px solid rgb(199, 76, 117);
    animation: bounce 1.5s infinite;
}

.title {
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
}

.termsConditions {
    margin: 0 auto 5px 80px;
}

.page-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 80px;
}

.secondary-title {
    color: grey;
    margin-left: 80px;
}

.name {
    background-color: #ebebeb;
    color: white;
}

.name:hover {
    border-bottom: 5px solid rgb(199, 76, 117);
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.email {
    background-color: #ebebeb;
    height: 2em;
}

.email:hover {
    border-bottom: 5px solid rgb(199, 76, 117);
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 120px;
}

.message:hover {
    border-bottom: 5px solid rgb(199, 76, 117);
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
}

.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.submit {
    width: 200px;
    color: white;
    background-color: rgb(199, 76, 117);
    font-size: 20px;
}

.submit:hover {
    box-shadow: 15px 15px 15px 5px palevioletred;
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid whitesmoke;
    border-radius: 10%;
}

@keyframes bounce {
    0% {
        transform: translate(0, 4px);
    }

    25% {
        transform: translate(0, 5px);
    }

    50% {
        transform: translate(0, 6px);
    }

    100% {
        transform: translate(0, 7px);
    }
}

/* Footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #0A0826;
    color: white;
    text-align: center;
}

.footer-icon {
    color: rgb(199, 76, 117);
}

/* responsive css */